.margin-top {
  margin-top: 95px;
}
.custom-bg-color {
  background-color: #fceae8;
}
body{
  background-color: #f4f4f4;
}
/* .shoe-sec-margin{
    margin-left: 0px;
    margin-right: 0px;
} */
.button-design{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
}
#Subscribe{
  height: 350px;
}
.place::placeholder{
  font-style: italic;
  padding-left: 20px;
  color: rgb(189, 184, 184);
}
.position{
  color: rgb(189, 184, 184);
  padding-right: 1.25rem;
}
